<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blocks - Chennai Testnet</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/dark-mode.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <main class="container">
        <h1>All Blocks</h1>

        <table>
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Age</th>
                    <th>Txn</th>
                    <th>Gas Used</th>
                    <th>Gas Limit</th>
                </tr>
            </thead>
            <tbody>
                <% blocks.forEach(block => { %>
                    <tr>
                        <td><%= block.number %></td>
                        <td><%= getTimeDifference(block.timestamp) %></td>
                        <td><%= block.transactions.length %></td>
                        <td><%= parseInt(block.gasUsed).toLocaleString() %></td>
                        <td>30,000,000</td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </main>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>
